.display-event {
	flex: 1 0 auto;
}

.event {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 6px;
		&:hover {
			background:rgba(172,172,172,0.1);
		}
	}
	&__title {
		text-align: left;
		margin-top: 0;
	}
	&__link {
		padding: 20px;
		flex: 1 0 auto;
		text-decoration: none;
		text-align: left;
		color: $primaryColor;
	}
	&__delete {
		padding-right: 20px;
	}
	&__delete-btn {
		@include linkButton;
		font-size: 1.4rem;
		padding: 0;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__creator, &__date {
		margin-top: 10px;
	}
}