.event-details {
	border: 1px solid green;
	&__container {
		display: flex;
		align-items: flex-start;
	}
}

.event-details-aside {
	width: 300px;
	background: rgba(172,172,172,0.1);
	margin-right: 30px;
	position: sticky;
	border: 1px solid red;
	&__title {
		@include mainHeadings;
		margin: 0 0 10px 0;
	}
	&__creator, &__date, &__invitees {
		font-size: 1.8rem;
		margin: 0;
		margin-bottom: 5px;
		span {
			font-weight: 700;
		}
	}
	&__list	{
		margin: 0;
		padding: 0;
	}
	&__item {
		font-size: 1.6rem;
	}
}

.event-details-main {
	width: calc(100% - 330px);
	border: 1px solid blue;
	&__title {
		margin: 5px 0 15px 0;
		font-size: 2.8rem;
	}
}

@media (max-width: 755px) {
	.eventDishName {
	@include dishList($accentColor);
	font-size: 1.8rem;
	}
	.commentPost {
		font-size: 1.6rem;
	}
}

@media (max-width: 715px) {
	.event-details-aside {
		background: rgba(172,172,172,0.1);
		position: static;
		display: block;
		float: none;
		width: 100%;
		border-radius: 6px;
		margin-right: 0px;
		max-width: 700px;
		top: 0;
	}
	.event__main {
		float: none;
		width: 100%;
	}
	.eventDishName {
		@include dishList($accentColor);
		font-size: 1.8rem;
		text-decoration: none;
	}
}

@media (max-width: 600px) {
	.event-detailsSection-wrapper {
		padding: 20px 5px;
	}
}

@media (max-width: 420px) {
	.event-details--title {
		@include mainHeadings;
		font-size: 3rem;
	}
}

@media (max-width: 380px) {
	.event-detailsSection-wrapper {
		padding: 20px 15px;
	}
}

