.event-details {
	margin: 25px 0;
	&__container {
		display: flex;
		align-items: flex-start;
	}
}

.event-details-aside {
	width: 300px;
	background: rgba(172,172,172,0.1);
	margin-right: 30px;
	padding: 10px;
	border-radius: 6px;
	&__title {
		margin-top: 0;
		margin-bottom: 15px;
	}
	&__creator, &__date, &__invitees {
		font-size: 1.8rem;
		margin: 0;
		span {
			display: block;
			margin-top: 15px;
		}
	}
	&__list	{
		margin: 0;
		padding: 0;
	}
	&__item {
		font-size: 1.6rem;
	}
}

.event-details-main {
	width: calc(100% - 330px);
}

.event-details-main-nav {
	&__list {
		margin-top: 0;
		padding: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item {
		margin: 0 5px;
	}
	&__button {
		@include heading(2.4rem);
		background: none;
		border: none;
	}
}