.commentPost {
    background: $secondaryColor;
    box-shadow: 3px 3px 1px rgba(172,172,172,0.4);
    //margin subject to change
    margin-bottom: 20px;
}

.commentPostDetails {
    background: rgba(172,172,172,0.1);
    .sub__text {
        padding-left: 30px;
    }
}

.comment {
    resize: none;
    width: 100%;
    padding-left: 30px;
    @include input;
    border-radius: 9px 9px 0 0;
    border-bottom: none;
    &::placeholder {
        @include placeholderText;
    }
}

.BTN__submit--comment {
    width: 100%;
    @include inputSubmit;
    border-radius: 0 0 9px 9px;
}

// .comment {
//     @include input;
//     border-radius: 9px 9px 0 0;
// }

.commentPosted p {
    padding-left: 30px;
}