.dish-list {
	margin-top: 25px;
	&__dish {
		@include dishList($primaryColor);
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 6px;
	}
		&__link {
		text-decoration: none;
		flex: 1 0 auto;
		padding: 20px;
		color: $primaryColor;
	}
	&__delete-button {
		@include linkButton;
		font-size: 1.4rem;
		padding: 0;
		margin-right: 20px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 450px) {
	.dish-list {
		&__link {
			width: calc(100% - 50px);
		}
	}
}