.dish {
  &__title {
    margin: 30px 0;
    text-align: left;
  }
  &__container {
    display: flex;
  }
  &__aside {
    width: 300px;
    margin-right: 30px;
    text-align: center;
  }
  &__image {
    width: 100%;
    border-radius: 6px;
  }
  &__main {
    flex: 1 0 auto;
    padding: 20px 50px;
    border-radius: 6px;
    background: rgba(172,172,172,0.1);
  }
  &__ingredients-list {
    padding: 0;
  }
  &__buttons-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__back-button, &__directions-button {
    @include linkButton;
  }
  &__directions-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__ingredients-title {
    margin-top: 0;
  }
}