.dish__back-btn, .dish__directions-btn {
  transition:0.5s;
}

.dish__directions-btn:hover, .dish__back-btn:hover {
  @include hoverButton;
}

.dish {
  margin-bottom: 50px;
  &__aside {
    float: left;
    width: 310px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  &__image {
    width: 100%;
  }
  &__title {
    margin: 30px 0;
    text-align: left;
  }
  &__main {
    width: calc(100% - 340px);
    float: right;
    padding: 20px 50px;
    border-radius: 6px;
    background: rgba(172,172,172,0.1);
  }
  &__ingredients-list {
    padding: 0;
  }
  &__aside {
    text-align: center;
    img {
      margin: 0 auto;
      border-radius: 6px;
    }
  }
  &__buttons-container, &__servings {
    margin-top: 20px;
    position: relative;
  }
  &__servings, &__ingredients-title {
    @include recipeSubHeading;
  }
  &__back-btn, &__directions-btn {
    @include linkButton;
  }
  &__back-btn {
    background-color: rgba(172,172,172,0.3);
    float: left;
  }
  &__directions-btn {
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .dish {
    &__title, &__aside, &__main {
      float: none;
      position: static;
    }
    &__aside {
      width: 85%;
      margin: 0 auto;
    }
    &__title {
      width: 100%;
      text-align: center;
    }
    &__main {
      width: 85%;
      margin: 99px auto 30px auto;
    }
  }
}

@media (max-width: 500px) {
  .dish {
    &__main {
      padding: 15px;
    }
  }
}

@media (max-width: 420px) {
  .dish {
    &__title, &__aside, &__main {
      width: 100%;
    }
  }
}