.dish {
  &__aside-wrapper {
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
  }
  &__aside {
    border: 1px solid black;
    float: left;
    width: 40%;
    margin-right: 30px;
  }
  &__title {
    margin: 30px 0;
  }
  &__main {
    width: calc(60% - 30px);
    float: right;
    padding: 20px 50px;
    border-radius: 20px;
    background: lightgrey;
    margin: 30px 0;
  }
  &__ingredients-list {
    padding: 0;
  }
  &__aside {
    text-align: center;
    position: sticky;
    top: 142.8px;
    left: 0;
    img {
      margin: 0 auto;
      border-radius: 6px;
    }
  }
  &__buttons-container, &__servings {
    margin-top: 20px;
  }
  &__servings, &__ingredients-title {
    @include recipeSubHeading;
  }
  &__back-btn, &__directions-btn {
    @include linkButton;
  }
  &__back-btn {
    background-color: rgba(172,172,172,0.5);
    float: left;
  }
  // &__directions-btn {}
}
