.dish {
  &__title {
    margin: 30px 0;
    text-align: left;
  }
  &__container {
    display: flex;
  }
  &__aside {
    width: 300px;
    min-width: 300px;
    margin-right: 30px;
    text-align: center;
  }
  &__image {
    width: 100%;
    border-radius: 6px;
  }
  &__main {
    flex: 1 1 auto;
    padding: 20px 50px;
    border-radius: 6px;
    background: rgba(172,172,172,0.1);
  }
  &__ingredients-list {
    padding: 0;
  }
  &__buttons-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__back-button, &__directions-button {
    @include linkButton;
  }
  &__directions-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__ingredients-title {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .dish {
    &__container {
      flex-direction: column;
    }
    &__aside {
      max-width: 300px;
      margin: 0 auto 30px auto;
    }
  }
}

@media (max-width: 450px) {
  .dish {
    &__main {
      padding: 15px;
    }
    &__aside {
      max-width: 280px;
      min-width: auto;
    }
    &__image {
      
    }
    &__ingredients-item {
      margin-bottom: 5px;
    }
  }
}