.print-recipe {
	margin-top: 15px;
}

.print-recipe-list {
	margin: 0;
	padding: 0;
	&__button {
		@include dishList($primaryColor);
		width: 100%;
		text-align: left;
		padding:20px 30px;
		border: none;
		transition:0.2s;
		background: none;
	}	
}