.search-for-recipe {
	margin-top: 25px;
	&__input {
		width: 70%;
		border-radius: 6px 0 0 6px;
		border: 2px solid $primaryColor;
		border-right: none;
	}
	&__submit {
		@include inputSubmit;
		border-radius: 0 6px 6px 0;
		padding: 10px 0;
		width: 30%;
		border: 2px solid $primaryColor;
		border-left: none;
	}
}

@media (max-width: 715px) {
	.searchForm {
		margin: 20px 0 10px 0;
	}
	.toggleSearch {
		margin-top: 10px;
	}
}