html {
 font-size: 62.5%;
 background: $secondaryColor;
}

body {
 font-size: 1.8rem;
 font-family: $primaryFont;
 letter-spacing: 0.5px;
}

.wrapper {
 max-width: 1280px;
 width: 80%;
 margin: 0 auto;
 @media (max-width: 900px) {
  width: 90%;
 }
}

main {
	padding-bottom: 50px;
}

img {
 max-width: 100%;
 display: block;
}

input, button {
 border-radius: 6px;
 border: 1px solid $primaryColor;
}

h2 {
	@include heading(3.4rem);
}

h3 {
  @include heading(2.4rem);
}

li {
	@include list;
}

button, input[type="submit"] {
  cursor: pointer;
}

input, textarea {
	padding: 10px 30px;
	border: 1px solid $neutralShade;
	&::placeholder{
		@include placeholderText;
	}
}

span {
	font-weight: 700;
}