.header {
  background: #EFBA3D;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 2px 2px 5px rgba(51,51,51,0.2);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    display: inline-block;
    margin: 0;
    padding: 20px 0;
    transition: 0.5s;
    &:hover {
      color: rgba(254,253,251,0.7);
    }
  }
  &__avatar-logout-container {
    display: flex;
    align-items: center;
  }
  &__avatar {
    display: inline-block;
    height: 37px;
    width: 37px;
    border: 2px solid $primaryColor;
    border-right: none;
    border-radius: 6px 0 0 6px;
  }
  &__logout {
    @include linkButtonAlt;
    border-left: none;
    border-radius: 0 6px 6px 0;
  }
}

@media (max-width: 420px) {
  .header {
    padding-bottom: 5px;
  }
  .mainTitle {
    font-size: 3.8rem;
    padding: 10px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .mainTitle-link {
    text-decoration: none;
  }
  .nav {
    &__greeting {
      float: none;
      width: 100%;
      margin-bottom: 5px;
      display: none;

    }
    &__button {
      font-size: 1.6rem;
      float: none;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }

}