.login {
  height: calc(100vh - 97px);
  background-image: url('./assets/hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    width: 300px;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.8);
    border-radius: 6px;
  }
  &__title {
    margin-top: 0;
  }
  &__button {
    @include linkButton;
    margin: 2rem 0;
    font-weight: 700;
    border: none;
    width: 80%;
  }
}