html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ' '; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

// ----- VARIABLES -----
$primaryColor: #333;
$secondaryColor: #FEFDFB;
$neutralShade: #ACACAC; 
$accentColor: #EFBA3D;
$accentColorRGBA: rgba(239, 186, 61, 1);
$primaryFont: 'Assistant', sans-serif;
$secondaryFont: 'Abril Fatface', cursive;

// ----- MIXINS -----
//h1 SOCIAL KITCHEN LOGO
@mixin appName {
 font-family: $secondaryFont;
 letter-spacing: 1px;
 color: $primaryColor;
 font-size: 5rem;
 text-shadow: 5px 5px 1px rgba(51,51,51,0.1);
}
//'HELLO user name font
@mixin userName {
 font-family: $primaryFont;
 color: $secondaryColor;
 font-size: 2.2rem;
 font-weight: 700;
}
//h2: Recipe Name / Create Event / Events
@mixin mainHeadings {
 color: $primaryColor;
 text-transform: uppercase;
 font-size: 3.4rem;
 font-style: bold;
 text-shadow: 3px 3px 1px rgba(51,51,51,0.2);
}
//Recipe List
@mixin recipeList {
 font-size: 1.8rem;
 line-height: 1.5;
 list-style: none;
 color: $primaryColor;
}
@mixin recipeSubHeading {
 font-size: 2rem;
 font-weight: 700;
 color: $primaryColor;
}
//Directions | Create Event
@mixin linkButton {
 font-weight: 700;
 font-size: 2rem;
 color: $primaryColor;
 background: $accentColor;
 border-radius: 9px;
 text-decoration: none;
 text-transform: uppercase;
 padding: 5px 10px;
}

//MATTY ADDED: -----------------------

@mixin defaultText {
  font-size: 1.8rem;
  color: $primaryColor;
}
//::placeholder
@mixin placeholderText {
  font-style: italic;
  font-weight: 700;
  font-size: 1.6rem;
  color: $primaryColor;
}

@mixin dishList($color){
  font-size: 2.2rem;
  font-weight: 700;
  color: $color;
}

@import 'cookingParty/createEvent';
@import 'cookingParty/displayEvents';
@import 'cookingParty/eventCommentSection';
@import 'cookingParty/eventDetails';
@import 'cookingParty/showDishDetailsInEvent';
@import 'recipes/printRecipeList';
@import 'recipes/printSingleRecipe';
@import 'recipes/searchForRecipe';
// @import 'header';

// ----- GLOBAL STYLES -----
html {
 font-size: 62.5%;
}
body {
 font-size: 1.8rem;
 font-family: $primaryFont;
 letter-spacing: 0.5px;
}
h1 {
 @include appName;
}
.wrapper {
 max-width: 1280px;
 width: 80%;
 margin: 0 auto;
 @media (max-width: 400px) {
  width: 90%;
 }
}
img {
 max-width: 100%;
 display: block;
}
input, button {
 border-radius: 9px;
 border: 1px solid $primaryColor;
}
// --- the following styles are not necessarily GLOBAL, I just put them in as an example to see what they will look like
// --- note that in order to use the above MIXINS properly we're going to have to give classNames to a bunch of things so they don't target everything (all <h2> , <p> , <a> , <buttons> , etc.) I didn't go in the files to give them classNames in case you guys have touched the other files. Just trying to avoid merge conflicts. There will be more MIXIN'S added. 
// --- there are some buttons/links that we can rename to shorten them. 
// --- Jonathan, all these mixins pretty much target all the font styles you need, unless of course you want to adjust/change them to your liking!
h2 {
 @include mainHeadings;
}
li {
 @include recipeList;
}

// p, .dish__servings, .dish__ingredients-title {
//  @include recipeSubHeading;
// }

// a {
//  @include linkButton;
// }

// MATTY ADDED: -------------------------------------------------------

header {
  border-bottom: 2px solid tomato;
}

button, input[type="submit"] {
  cursor: pointer;
}

